<p>Please create your tweet here</p>

<form action="/tweets" method="post">
  <p>Enter:</p>
  <input type="text" name="content">
  <input class="btn btn-primary" type="submit" value="submit">
</form>
