<h2>Welcome! Login to Fwitter! Log in here! </h2>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

  <!--<input type="submit" value="submit">-->
  <input class="btn btn-primary" type="submit" value="submit">
</form>
