<h2>Welcome! Log in here! </h2>
<form action="/login" method="post">
  <input type="text" name="username" value="Username:">
  <input type="text" name="password" value="Password:">

  <input type="submit" value="Submit">

</form>
